.days{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 100px);
    grid-auto-rows: 100px;
    background-color: #27282c;
    gap: 10px;
    font-family: monospace;

}


