.days{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 100px);
    grid-auto-rows: 100px;
    background-color: #27282c;
    gap: 10px;
    font-family: monospace;

}


a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 15px;
}


.selector{
    width: 30vw;
    display: flex;
    justify-content: center ;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
}

.next {
    background-color: #f1f1f1;
    color: black;
}

.round {
    border-radius: 50%;