template-configurator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: var(--spacing-xlarge);
}

.button-navbar > .next-button {
    margin-left: auto;
}
