#home-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

#home-bar-container > #greet-text {
    align-self: center;
    flex-grow: 1;
    text-align: center;
    font-size: var(--font-size-large);
}