#home-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

#home-bar-container > #greet-text {
    align-self: center;
    text-align: center;
    font-size: var(--font-size-large);
    border-bottom: var(--text-accent) solid 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
}