<div id="home-bar-container">
  <div class="spacer"></div>
  <span id="greet-text"></span>
  <div class="spacer"></div>
  <moon-sun-toggle></moon-sun-toggle>
  <div id="profile-icon" class="icon profile"></div>
  <div id="profile-dropdown-menu" class="doodle-border">
    <div id="account-information">
      <svg>
        <image xlink:href="https://i.imgur.com/6E0t6HW.png" />
      </svg>
      <span id="username"></span>
      <span id="email"></span>
    </div>
    <span id="manage-account">Manage Account</span>
    <span id="logout-option">Logout</span>
  </div>
</div>
