:root {
  --moon-sun-toggle-width: 2.5rem;
  --moon-sun-toggle-height: 1.4rem;
  --moon-sun-toggle-label-width: 1rem;
  --moon-sun-toggle-label-height: 1rem;
}

moon-sun-toggle > label {
  width: var(--moon-sun-toggle-width);
  height: var(--moon-sun-toggle-height);
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

moon-sun-toggle > label:after {
  content: "";
  width: var(--moon-sun-toggle-label-width);
  height: var(--moon-sun-toggle-label-height);
  position: absolute;

  left: 3px;
  right: 3px;
  bottom: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 1rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
moon-sun-toggle > input {
  width: 0;
  height: 0;
  visibility: hidden;
}

moon-sun-toggle > input:checked + label {
  background: #242424;
}

moon-sun-toggle > input:checked + label:after {
  left: 2.35em;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
moon-sun-toggle > label,
label:after {
  transition: 0.3s;
}

moon-sun-toggle > label:active:after {
  width: 1.4em;
}

moon-sun-toggle > input:checked + label + .background {
  background: #242424;
}
