.check-list-item-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checked {
    /*cross through*/
    text-decoration: line-through;
}

.checkbox {
    cursor: pointer;
}