.text-input.single-line {
    resize: none;
}

.text-input.multi-line {
    width: 100%;
    resize: vertical;
}

.text-preview {
    flex-grow: 1;
}

.live-text-input-container {
    cursor: pointer;
}