@import url(./cursors.css);
@import url(variables/colors.css);
@import url(variables/styles.css);
@import url(variables/font.css);
@import url(./doodle-overrides.css);

.list-item {
    display: list-item;
}

*:disabled {
    opacity: 0.5;
}

.container {
    width: 100%;
    height: 100%;
}