note-editor {
  width: 65%;
  flex-grow: 1;
}

.editor {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;

  padding-top: var(--spacing-medium);
  padding-left: var(--spacing-editor-side);

  overflow-y: scroll;
}

.editor-blocks-container {
  display: flex;
}
.editor-blocks-container > * {
  margin-right: auto;
}

check-list-item {
  margin-left: 0;
  padding-left: 0;
  list-style: none !important;
}

.editor input {
  margin-top: var(--spacing-small);
  width: 15em;
}

.editor #edit-template-icon {
  position: absolute;
  right: 2em;
  bottom: 1em;
  left: auto;
  top: auto;
  background-color: var(--background-primary);
  border-radius: 50%;
}

.extra-point-container {
  position: relative;
}

.active.extra-point-container::before {
  content: "";
  background-image: var(--enter-icon);
  /*rotate 180 deg*/
  transform: rotate(180deg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: 13em;
  top: 1.1em;
  opacity: 0.4;
}
