note-editor {
    width: 65%;
    flex-grow: 1;
}


.editor {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;

    padding-top: var(--spacing-medium);
    padding-left: var(--spacing-editor-side);

    overflow-y: scroll;
}

.editor-blocks-container {
    justify-content: space-between;
}

.editor-blocks-container > * {

    margin-right: auto;
}

check-list-item {
    margin-left: 0;
    padding-left: 0;
    list-style: none !important;
}

.new-item-input {
    margin-top: var(--spacing-small);
}