home-component {
    flex-grow: 1;
    overflow: hidden;
}

#home-container {
    overflow: hidden;
}

#home-container-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}