* {
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 1.5rem;
    --font-size-max: 2rem;
}


.title-s {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-small);
    margin-top: var(--spacing-small);
    display: inline-block;
}

.title-m {
    font-size: var(--font-size-xlarge);
    margin-bottom: var(--spacing-medium);
    margin-top: var(--spacing-medium);
    display: inline-block;
}

.title-l {
    font-size: var(--font-size-max);
    margin-bottom: var(--spacing-large);
    margin-top: var(--spacing-large);
    display: inline-block;
    /*add separator under*/
    border-bottom: 1px solid var(--border-color);
}

.underlined {
    text-decoration: underline;
}