main-calendar {
    display: flex;
    width: 35%;
    flex-grow: 1;
}

.calendar{
    display: flex;
    flex-direction: column;
}

.calendar > span{
    text-align: center;
    font-size: var(--font-size-xlarge);
    padding-bottom: var(--spacing-large);
    padding-top: var(--spacing-medium);
}

.calendar-navigation > a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    margin: 15px;
}


.calendar-navigation{
    display: flex;
    justify-content: center ;
    font-size: var(--font-size-large);
    padding-bottom: var(--spacing-large);
}

.calendar-navigation > span{
    display: flex;
    align-items: center;
}

.calendar-navigation a:hover {
    background-color: var(--text-accent-hover);
    color: var(--text-header);
}

.calendar-navigation .previous {
    background-color: var(--border-color);
    color: var(--text-header);
}

.calendar-navigation .next {
    background-color: var(--border-color);
    color: var(--text-header);
}

.calendar-navigation .round {
    border-radius: 50%;
}