input-type-configurator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#input-type-configurator-items-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}