<div class="content container">
  <span class="title-m configuration-title" id="input-type-configurator-info-title" >
    Please choose the input types for your template:
  </span>
  <div id="input-type-configurator-items-container" class="container">
    <!-- InputTypeConfigurations will be appended here -->
  </div>
</div>
<div class="button-navbar" id="input-type-configurator-nav-buttons">
  <button class="back-button" id="input-type-configurator-back-button">Back</button>
  <button class="next-button" id="input-type-configurator-next-button">Finish</button>
</div>