login-register{
    display: flex;
    flex-grow: 1;


}

.login-form{
    display: flex;
    flex-direction: column;
    margin: auto;

}

.login-form button{
    margin: var(--spacing-medium);
}

svg {
    width: 150px;
    height: 150px;
}

image {
    width: 100px;
    height: 100px;
}


p{
    color: #ff0000;
}

.login-form span{
    text-align: center;
}

.connect-message{
    color: red;
}

.register-toggle{
    color: var(--text-accent);
}