<div class="logo" xmlns="http://www.w3.org/1999/html">
  <svg>
    <image xlink:href="https://i.imgur.com/6E0t6HW.png" />
  </svg>
</div>
<div class="login-form">
  <input type="text" placeholder="Username" class="username" >
  <input type="text" placeholder="Email" class="email">
  <input type="password" placeholder="Password" class="password">
  <input type="password" placeholder="Verify Password" class="retype-password">
  <button>Login</button>
</div>
<div class="span-elements">
  <div class="left-block">
    <span class="forgot-password">Forgot password?</span>
  </div>
  <div class="right-block">
    <span class="register-toggle">Sign up</span>
  </div>
</div>
