login-register {
    display: flex;
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: auto;
}

.logo > svg > image {
    width: 100%;
    height: 100%;
}

.login-form button, input {
    margin-top: var(--spacing-small);
    background-color: var(--background-focus);
}

button:hover {
    background-color: var(--text-accent);
}

.login-form .retype-password, .username {
    visibility: hidden;
}

.span-elements {
    flex-direction: row;
    margin-bottom: auto;
    cursor: pointer;
}

.span-elements > div {
    font-size: 80%;
    margin-top: var(--spacing-small);
    flex-grow: 1;
}

.left-block {
    text-align: left;
    flex-direction: column;
}

.right-block {
    flex-direction: column;
}

.forgot-password {
    color: var(--text-accent);
    cursor: pointer;
}

.forgot-password:hover {
    color: var(--text-accent-hover);
}

.register-toggle {
    text-align: right;
    border-radius: 10px;
}

.register-toggle:hover {
    color: var(--text-accent);
}