<div class="logo">
  <svg>
    <image xlink:href="https://i.imgur.com/6E0t6HW.png" />
  </svg>
</div>
<div class="login-form">
  <input type="text" placeholder="Username" name="username">
  <input type="text" placeholder="Email" name="email">
  <input type="password" placeholder="Password" name="password">
  <input type="password" placeholder="Verify Password" name="password" class="retype-password">
  <button>Login</button>
</div>
<div class="span-elements">
  <span class="register-toggle">Sign up</span>
  <span class="connect-message"></span>
</div>
