
<div class="login-form">
    <svg>
        <image xlink:href="https://www.svgrepo.com/show/424049/ceklist-rate-rating.svg"  />
    </svg>

    <input type="text" placeholder="Username" name="username">
    <input type="text" placeholder="Email" name="email">
    <input type="password" placeholder="Password" name="password">
    <input type="password" placeholder="Verify Password" name="password" class="retype-password">
    <button>Login</button>
    <span class="register-toggle">Sign in | Sign up</span>
    <span class="connect-message"></span>
</div>

