.calendarDay {
    width: 130px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d8d7d3;
    margin: 10px;
}
.calendarDay:hover{
    background: #965454;
}

h3 {



}